.container {
    max-width: 800px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif; /* Utilisation de la police Arial */
    background-color: #f8f8f8; /* Couleur de fond de la page */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.edit-btn,
.delete-btn {
    margin-right: 5px;
    border-radius: 5px;
}

  